@import 'reset';

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cl-bg-body;
  color: $cl-body;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto 12px;
  padding: 0 6px;
}

.row {
  margin: 0 -6px;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: $cl-blue;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  padding: 6px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  border: 0 none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px $cl-body;
    text-decoration: none;
  }
  &.primary {
    background-color: $cl-blue;
    color: white;
  }
  &.secondary {
    background-color: $cl-yellow;
    color: $cl-body;
  }
}

img {
  max-width: 100%;
}
