@import 'reset';

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cl-bg-body;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto 12px;
}

a {
  text-decoration: none;
  color: $cl-blue;
  &:hover {
    text-decoration: underline;
  }
}
